# <center>ESG Mispricing: A View from the Overnight Return</center>

<p></p> 
<center><b>Xiaoqun Liu<sup> a</sup></b> </center> 
<p></p>

<center><b>Changrong Yang<sup> a</sup></b> </center> 
<p></p> 
<center><b>Youcong Chao<sup> b,*</sup></b></center> 
<p></p>

<center>a) School of Economics, Hainan University</center>
<center>b) School of Liberal Arts and Sciences, North China Institute of Aerospace Engineering</center>

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import datetime
import os
from regression_demo import *
from regression_demo import __fama_macbeth_coef__,_format_reg_
from portfolios1D import *
from portfolios2D import *

# environment
pd.set_option('display.max_column', None)
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_row', None)
NWlags = [0,4,4]

In [2]:
import IPython.core.display as di

# this line will add a button to toggle visibility of code blocks
di.display_html('''<button onclick="jQuery('.input_area').toggle(); 
                   jQuery('.prompt').toggle();">Toggle code</button>''', 
                raw=True)

# this line will output variables without using print
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

In [3]:
year_data_origin = pd.read_csv(r'../Data/year_indicator.csv',dtype={"Stkcd":str,'Trdmn':str,'Trdyear':str})
year_data_origin = year_data_origin.sort_values(['Stkcd','Trdyear'],ascending=[1,1]).reset_index(drop=True)
year_data_origin = year_data_origin.dropna().reset_index(drop=True)
year_data_origin = year_data_origin.query("Trdyear!='2020'").reset_index(drop=True)
for i in range(2, len(year_data_origin.columns)):
    year_data_origin[year_data_origin.columns[i]] = winsorize(year_data_origin[year_data_origin.columns[i]], (0.01, 0.01))

In [4]:
year_ff5 = pd.read_csv(r'../Data/fivefactor_yearly.csv',dtype={'trdyr':str}, low_memory=False, sep=',')
year_ff5 = year_ff5.rename(columns={'trdyr': 'Trdyear'})
year_ff5 = year_ff5.sort_values(["Trdyear"], ascending=[1]).reset_index(drop=True)
year_ff5 = year_ff5.dropna().reset_index(drop=True)
year_ff5 = year_ff5[['Trdyear','mkt_rf','smb','hml','umd','rmw','cma','rf']].copy()

# Table 1

In [5]:
des = year_data_origin[['ESG_score','E_score','S_score','G_score','year_return','overnight_return','intraday_return','size','BM','ILLIQ','turnover']].describe(percentiles=[.05,.25,.5,.75,.95])
des = des.loc[['count','mean','std','5%','25%','50%','75%','95%']]
des.columns = [
    "$ESG_{score}$",
    '$E_{score}$',
    '$S_{score}$',
    '$G_{score}$',
    '$R_{close-to-close}$',
    '$R_{overnight}$',
    '$R_{intraday}$',
    '$Size$',
    '$BM$',
    '$Illiquidity$',
    '$Turnover$'
]
des.index = ['Observation','Mean','STD','5%','25%','Median','75%','95%']
des = des.round(decimals=3)
des.loc["Observation"] = ["{0:,d}".format(int(i)) for i in des.loc["Observation"]]
des = des.astype(str)
des = des.T
d1 = dict(selector="th", props=[('text-align', 'center')])
d2 = dict(selector=".row_heading", props=[("text-align","left")])
des.style.set_properties(**{'text-align':'center'}).set_table_styles([d1,d2])

# Table 2

In [6]:
year_data = year_data_origin.copy()
year_data['ESG_score_lag1'] = year_data.groupby(['Stkcd'])['ESG_score'].shift(1).reset_index(drop=True)
year_data['size_lag1'] = year_data.groupby('Stkcd')['size'].shift(1).reset_index(drop=True)
year_data =year_data.dropna().reset_index(drop=True)

In [7]:
formulas = [
    'weight_r~1',
    'weight_r~1+mkt_rf+smb+hml',
    'weight_r~1+mkt_rf+smb+hml+rmw+cma']

In [8]:
groups = ['ESG_score']
all_alphas=[]
for group in groups:
    year_data[group+'_decile']= 1 + year_data.groupby('Trdyear')[group+'_lag1'].transform(lambda x: pd.qcut(x, 5, labels=False, duplicates="drop"))
    portfolio_return=form_portfolio_1D(year_data,year_ff5,[group],['Trdyear'],'overnight_return','size_lag1')
    portfolio_data=pd.merge(portfolio_return,year_ff5,on=['Trdyear'],how='inner')
    for NWlag,formula in zip(NWlags,formulas):
        alphas = portfolio_data.groupby(group+'_decile').apply(alpha,formula, NWlag).reset_index(level=0).rename(columns={'Coef.': 'alpha'})
        alphas = alphas.apply({
                'ESG_score_decile':str,
                'alpha':str,
                't-stat.': '{:,.2f}'.format,
                })
        alphas = alphas.set_index('ESG_score_decile')
        t_value = alphas[['t-stat.']].loc[['top_bottom_ESG_score_decile']].apply(lambda x:'('+x+')').rename(columns={'t-stat.':'alpha'})
        alphas = alphas[['alpha']].append(t_value)
        all_alphas.append(alphas)
alphas=all_alphas[0] 
alphas.columns=['$Average$ $excess$ $return$']
alphas["$Three$-$factor$$(FF3)$ $alpha$"]=all_alphas[1]['alpha']
alphas["$Five$-$factor$$(FF5)$ $alpha$"]=all_alphas[2]['alpha']
alphas.index = ['$Low$ $ESG_{score}$','2','3','4','$High$ $ESG_{score}$','$High$-$Low$',""]
d1 = dict(selector="th", props=[('text-align', 'center')])
d2 = dict(selector=".row_heading", props=[("text-align","left")])
alphas.style.set_properties(**{'text-align':'center'}).set_table_styles([d1,d2])

# Table 3

In [9]:
year_data = year_data_origin.copy()
year_data['year_return_rf_lead1'] = year_data.groupby('Stkcd')['year_return_rf'].shift(-1).reset_index(drop=True)
year_data['overnight_return_rf_lead1'] = year_data.groupby('Stkcd')['overnight_return_rf'].shift(-1).reset_index(drop=True)
year_data['intraday_return_rf_lead1'] = year_data.groupby('Stkcd')['intraday_return_rf'].shift(-1).reset_index(drop=True)
year_data = year_data.dropna().reset_index(drop=True)

In [10]:
formulas = [
    'overnight_return_rf_lead1 ~ 1 + ESG_score + turnover + size + BM + ILLIQ',
    'overnight_return_rf_lead1 ~ 1 + E_score + turnover + size + BM + ILLIQ',
    'overnight_return_rf_lead1 ~ 1 + S_score + turnover + size + BM + ILLIQ',
    'overnight_return_rf_lead1 ~ 1 + G_score + turnover + size + BM + ILLIQ',
]

In [11]:
regressor_order = ['ESG_score', 'E_score','S_score','G_score','size','BM','turnover','ILLIQ','Intercept']
info_list = ['No. Observations','AdjR2_mean']
format_results = []

for i, formula in enumerate(formulas):
    model_name = "M" + str(i + 1)
    ols_result  = year_data.groupby('Trdyear').apply(__fama_macbeth_coef__, formula, NWlag=1).reset_index(level=0,drop=True)
    fama_result = fama_macbeth(year_data, formula, ols_result, NWlag=1, model_name=model_name)
    format_results.append(fama_result)
results = merge_results(format_results, regressor_order, info_list)
results.loc["No. Observations"] = ["{0:,d}".format(int(i)) for i in results.loc["No. Observations"]]
results.columns = ['$\\mathrm {M1}$','$\\mathrm{M2}$','$\\mathrm{M3}$','$\\mathrm{M4}$']
results.index = ['$ESG_{score}$','','$E_{score}$',' ','$S_{score}$','  ','$G_{score}$','   ',
                 '$Size$','    ','$BM$','     ','$Turnover$','      ','$Illiquidity$','       ','$Intercept$','        ','$Observations$','$R^2$']
d1 = dict(selector="th", props=[('text-align', 'center')])
d2 = dict(selector=".row_heading", props=[("text-align","left")])
results.style.set_properties(**{'text-align':'center'}).set_table_styles([d1,d2])

# Table 4

In [12]:
year_data = year_data_origin.copy()
year_data['ESG_score_lag1'] = year_data.groupby(['Stkcd'])['ESG_score'].shift(1).reset_index(drop=True)
year_data['size_lag1'] = year_data.groupby('Stkcd')['size'].shift(1).reset_index(drop=True)
year_data['BM_lag1'] = year_data.groupby('Stkcd')['BM'].shift(1).reset_index(drop=True)
year_data['ILLIQ_lag1'] = year_data.groupby('Stkcd')['ILLIQ'].shift(1).reset_index(drop=True)
year_data =year_data.dropna().reset_index(drop=True)

In [13]:
formulas = ['weight_r~1+mkt_rf+smb+hml+rmw+cma']

In [14]:
groups = ['size','BM','ILLIQ']
titles=["Panel A: Double-sorted portfolios based on Size and ESGscore","Panel B: Double-sorted portfolios based on BM and ESGscore","Panel C: Double-sorted portfolios based on Illiquidity and ESGscore"]
for title,group in zip(titles,groups):
    year_data[group + '_decile']= 1 + year_data.groupby('Trdyear')[group+ '_lag1'].transform(lambda x: pd.qcut(x, 5, labels=False, duplicates="drop"))
    year_data['ESG_score_decile']= 1 + year_data.groupby(['Trdyear',group + '_decile'])['ESG_score_lag1'].transform(lambda x: pd.qcut(x, 5, labels=False, duplicates="drop"))
    portfolio_return=form_portfolio_2D_1(year_data,year_ff5,[group,'ESG_score'],['Trdyear'],'overnight_return','size_lag1')
    portfolio_data=pd.merge(portfolio_return,year_ff5,on=['Trdyear'],how='inner')
    formula='weight_r~1+mkt_rf+smb+hml+rmw+cma'
    alphas = portfolio_data.groupby(['ESG_score_decile',group + '_decile']).apply(alpha,formula, NWlag=1).rename(columns={'Coef.': 'alpha'})
    alphas = alphas.apply({
            'alpha':str,
            't-stat.': '{:,.2f}'.format,
            'Num.Obs.': '{:,.0f}'.format,
            'R-squared': '{:,.2%}'.format
            }).reset_index()
    alphas = alphas.drop(['Num.Obs.','R-squared'],axis=1).rename(columns={'level_2':' '})
    alphas = alphas.set_index(['ESG_score_decile',group +'_decile',' '])
    alphas = alphas.astype(str)
    alphas = alphas.unstack(1).loc[[1,2,3,4,5,'top-bottom_ESG_score_decile']]
    t_value = alphas['t-stat.'][[1,2,3,4,5]].loc[['top-bottom_ESG_score_decile']].apply(lambda x:'('+x+')')
    alphas = alphas['alpha'][[1,2,3,4,5]]
    alphas = alphas[[1,2,3,4,5]].append(t_value)
    results = pd.DataFrame(alphas.values,index=['$Low$ $ESG_{score}$','2','3','4','$High$ $ESG_{score}$','$High$-$Low$',''],columns=['$Low$ $'+group+'$','2','3','4','$High$ $'+group+'$'])
    d1 = dict(selector="th", props=[('text-align', 'center')])
    d2 = dict(selector=".row_heading", props=[("text-align","left")])
    d3 = dict(selector="caption", props=[("font-size", "115%"), ("text-align", "center")])
    results.style.set_properties(**{'text-align':'center'}).set_caption(title).set_table_styles([d1,d2,d3])